__pycache__/
vae_weights/
mlp_weights/
latent_images_32/
latent_images/
voxel_data_*/
ldm_checkpoints
generated_models/
generated_triplanes/
triplane_images_*/
voxels/
clip_images/
metrics/
*.png
.env
*.ply
*.npy
*.pth
haha.py
# new.py
view.py
z_vae.py
colored_voxels/
aeroplane_triplanes/
assets/